* {
    margin:0;
    padding: 0;
    list-style-type: none;
    outline: none;
    text-decoration: none;
}
h2 {

    color: #007e7a;
    font-family: Arial, Sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
}
p {
    color: #747678;
    font-family: Arial, Sans-serif;
    font-size: 12px;
}
p.init {
    padding: 23px 22px 10px 22px;
}

.navegasaude {
    position: relative;
    width: 731px;
    height: 430px;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f4f4f4;
}

.navegasaude ul li:hover, .navegasaude ul li.on {
   background-color: #e8e8e8;
}

.pontuacao {
    width: 190px;
    height: 400px;
    display: block;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    padding: 25px;
    position: absolute;
    top: -10px;
    right: -180px;
    text-align: center;
    box-shadow: 1px 1px 12px 4px #d5d5d5;
}
.pontuacao h3{
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #e2e2e2;
    font-family: CaeciliaLTStd-Roman, Georgia, Verdana, Arial;
 }

.pontuacao p{
    font-size: 14px;
    color: #333333;
    font-weight: bold;
 }
 .pontuacao span{
    font-size: 12px;
    color: #9a9a9a;
    font-family: Arial, Sans-serif;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #e2e2e2;
    width: 100%;
    display: block;
 }

 .pontuacao p.number{ 
    font-size: 70px;
 }

.pontuacao a.abrecriterios
 {
    color: #ffffff;
    display: block;
    width: 156px;
    height: 24px;
    background-color: #008f84;
    border: 1px solid #01524c;
    border-radius: 2px;
    font-family: Arial, Sans-serif !important;
    font-size: 12px;
    text-transform: none;
    margin: 0 auto 15px auto;
    padding-top: 10px;
}
.pontuacao a:hover {
    background-color: #008f84 !important;
    text-decoration: underline;
}


.box-criterios {
    position: relative;
    width: 729px;
    display: table;
    border:1px solid #e2e2e2;
    background-color: #f2f2f2;
}
.box-criterios h3 {
    width: 686px;
    height: 20px;
    display: block;
    background: #cccccc;
    color: #333333;
    font-size: 18px;
    padding:12px 22px;
    font-family: CaeciliaLTStd-Roman, Georgia, Verdana, Arial;
    border-bottom: 1px dashed #ffffff;
}
.conteudo-criterios {
   width: 200px;
    float: left;
    height: 170px;
    display: block;
    padding: 12px 20px;
}
.conteudo-criterios h4{
    font-family: Arial, Sans-serif;
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
}

.nivel{
    position: absolute;
    top: -1px;
    border: 1px solid #e2e2e2;
}

.nivel-1 {
    width: 185px;
    left: 0;

    
}
.nivel-2{
    width: 185px;
    left: 187px;

}

.nivel-3{
    width: 185px;
    left: 187px;
    
}


.nivel-1.ativo,
.nivel-2.ativo,
.nivel-3.ativo { 
    border: 1px solid #e2e2e2;
    box-shadow: 1px 1px 12px 4px #d5d5d5;
}
.nivel-box .ativo { 
    border:none;
    box-shadow: none;
}

.nivel-box{
    width: 185px;
    border:none;
    box-shadow: none;

}

.nivel > li{
    cursor: pointer;
    border-bottom: 1px solid #d5d5d5;
    color: #838383;
    /*background-color:#f4f4f4;*/
    font-size: 13px;
    text-transform: capitalize;
    display: block;
}
.nivel > li:last-child{
    border-bottom: none;
}


.nivel-1 > li{
    width: 135px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Sans-serif;
    font-size: 15px; 
    background-repeat: no-repeat;
    background-color:#f4f4f4;
    background-image: url('../img/paises.png');
    
}

.nivel-1 > li.africa{ 
       background-position: 10px 10px;
}
.nivel-1 > li.americas{ 
       background-position: 10px -38px;
}
.nivel-1 > li.asia{ 
       background-position: 10px -89px;
}
.nivel-1 > li.australia{ 
       background-position: 10px -296px;
}
.nivel-1 > li.brasil{ 
       background-position: 10px -141px;
}
.nivel-1 > li.europe{ 
       background-position: 10px -192px;
}
.nivel-1 > li.middle{ 
       background-position: 10px -245px;
}


.nivel-1.ativo > li{
    background-color: white;
}


.nivel-2 > li{
    padding: 8px 12px;
    width: 161px;
    font-family: CaeciliaLTStd-Roman, Georgia, Verdana, Arial;
    background-color:#f4f4f4;
  
}
.nivel-2.ativo > li{
    background-color: white;

}

.nivel-3 > li{
    font-family: CaeciliaLTStd-Roman, Georgia, Verdana, Arial;
    padding: 8px 12px;
    background-color:#f4f4f4;

}
.nivel-3.ativo > li{
    background-color: white;
}


.nivel-box > li{
    border-bottom: 0;
}