* {
    margin:0;
    padding: 0;
    list-style-type: none;
    outline: none;
    text-decoration: none;
}
h2 {

    color: #007e7a;
    font-family: Arial, Sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 15px;
}
p {
    color: #747678;
    font-family: Arial, Sans-serif;
    font-size: 12px;
}
p.init {
    padding: 30px 30px 10px 30px;
}

.navegasaude {
    position: relative;
    width: 738px;
    height: 430px;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navegasaude ul li:hover, .navegasaude ul li.on {
   background-color: #e8e8e8;
}

.pontuacao {
    width: 190px;
    height: 400px;
    display: block;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    padding: 25px;
    position: absolute;
    top: -10px;
    right: -180px;
    text-align: center;
}
.pontuacao h3{
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #e2e2e2;
    font-family: CaeciliaLTStd-Roman, Georgia, Verdana, Arial;
 }

.pontuacao p{
    font-size: 14px;
    color: #333333;
    font-weight: bold;
 }
 .pontuacao span{
    font-size: 12px;
    color: #9a9a9a;
    font-family: Arial, Sans-serif;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #e2e2e2;
    width: 100%;
    display: block;
 }

 .pontuacao p.number{ 
    font-size: 70px;
 }

.pontuacao a.abrecriterios, 
.pontuacao a.voltar 
 {
    color: #ffffff;
    display: block;
    width: 156px;
    height: 30px;
    background-color: #008f84;
    border:1px solid #01524c;
    font-family: Arial, Sans-serif !important;
    font-size: 12px;
    text-transform: none;
    margin:0 auto 15px auto;
    padding-top: 20px;
}
.pontuacao a:hover {
    background-color: #008f84 !important;
    text-decoration: underline;
}


.box-criterios {
    position: relative;
    width: 736px;
    display: table;
    border:1px solid #e2e2e2;
    background-color: #f2f2f2;
}
.box-criterios h3 {
    width: 686px;
    height: 20px;
    display: block;
    background: #cccccc;
    color: #333333;
    font-size: 18px;
    padding:12px 25px;
    font-family: CaeciliaLTStd-Roman, Georgia, Verdana, Arial;
    border-bottom: 1px dashed #ffffff;
}
.conteudo-criterios {
    width: 180px;
    float: left;
    height: 180px;
    display: block;
    padding: 20px 30px;
}
.conteudo-criterios h4{
    font-family: Arial, Sans-serif;
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
}

.nivel{
    position: absolute;
    top: 0;
}

.nivel-1{
    width: 135px;
    left: 0;
    
}
.nivel-2{
    width: 185px;
    left: 186px;
}

.nivel-3{
    width: 185px;
    left: 186px;
}
.nivel-box{
    width: 185px;

}

.nivel > li{
    cursor: pointer;
    border-bottom: 1px solid #d5d5d5;
    color: #838383;
    background-color:#f4f4f4;
    font-size: 13px;
    text-transform: capitalize;
    display: block;
}
.nivel-1 > li{
    width: 135px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Sans-serif;
    font-size: 15px;
    
}
.nivel-2 > li{
    padding: 8px 12px;
    width: 161px;
    font-family: CaeciliaLTStd-Roman, Georgia, Verdana, Arial;
    
}
.nivel-3 > li{
    font-family: CaeciliaLTStd-Roman, Georgia, Verdana, Arial;
    padding: 8px 12px;

}
.nivel-box > li{
    border-bottom: 0;
}